APP_RUNTIME=app
NETWORK=testnet
SUBSTRATE_URL=wss://knox-1.dock.io
LOGGER_LEVEL=debug
SENTRY_DSN=<sentry-dsn>
ENCRYPTION_KEY=<encryption-key>
TRANSAK_PUSHER_API_KEY=
TRANSAK_ENVIRONMENT=STAGING
TRANSAK_API_KEY=
TRANSAK_BASE_URL=https://staging-global.transak.com
