<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807311823487-098gtrui5abqsbuucok9tdbb2626kf4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807311823487-098gtrui5abqsbuucok9tdbb2626kf4m</string>
	<key>API_KEY</key>
	<string>AIzaSyAzOTiy2gw5lXKDLKC4-8X2J6yjxdKEBFI</string>
	<key>GCM_SENDER_ID</key>
	<string>807311823487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>labs.dock.DockApp</string>
	<key>PROJECT_ID</key>
	<string>dock-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>dock-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807311823487:ios:2af4b901c7e73f6786654a</string>
</dict>
</plist>